html { 
	height: 100%;
	font-family: "Sans-serif";
}

body {
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 3fr 1fr;
	min-height: 100%;
	grid-template-areas:
		"header header header" 
		"main main main"
		"footer footer footer";
}

header {
	grid-area: header;
	justify-self: end;
}

.main {
	grid-area: main;
	justify-self: center;
}

footer { 
	grid-area: footer;
	align-self: end;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	text-align: center;
	padding: 5px;
}

li a {
	color: #000000;
	text-decoration: none;
	font-size: 12px;
}

li a:hover {
	color: #717171;
	text-decoration: underline;
}

form { padding: 5px; }
input { width: 25em; }

button { 
	width: 13em;
	padding: 5px;
	color: #717171;
	border: none;
}

button:hover {
	color: #000000;
	border: 1px solid #717171;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#search-box { 
	margin-top: 20px; 
	widht: 500px;
}
#buttons { 
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}
